<div class="container-fluid">
    <div class="text-center cursor-default">
        <h1>Laboratorium ASP.NET Core + Angular 2.</h1>
    </div>

    <div class="row description cursor-default">
        <div class="col-md-offset-1 col-md-3 text-center">
            <h2>Przeglądaj listę motocykli...</h2>
        </div>
        <div class="col-md-offset-1 col-md-3 text-center">
            <h2>Dodawaj nowe motocykle...</h2>
        </div>
        <div class="col-md-offset-1 col-md-3 text-center">
            <h2>Usuwaj istniejące motocykle...</h2>
        </div>
    </div>
</div>

