<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="row">
                <h2 class="col-sm-6" style="padding-bottom: 50px;">{{ message }}</h2>
                <img class="col-sm-6 pull-right" [src]="moto.imageUrl" style="max-width:300px; max-height:300px;" *ngIf="moto && moto.imageUrl" />
            </div>

            <table class="table table-striped" *ngIf="moto">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Opis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Marka</td>
                        <td *ngIf="!editMode">{{ moto.marka }}</td>
                        <td *ngIf="editMode">
                            <input type="text" [(ngModel)]="moto.marka" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Model</td>
                        <td *ngIf="!editMode">{{ moto.model }}</td>
                        <td *ngIf="editMode">
                            <input type="text" [(ngModel)]="moto.model" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Typ</td>
                        <td *ngIf="!editMode">{{ moto.typ }}</td>
                        <td *ngIf="editMode">
                            <input type="text" [(ngModel)]="moto.typ" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Pojemność skokowa</td>
                        <td *ngIf="!editMode">{{ moto.pojemnoscSkokowa }}</td>
                        <td *ngIf="editMode">
                            <input type="number" [(ngModel)]="moto.pojemnoscSkokowa" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Chłodzenie</td>
                        <td *ngIf="!editMode">{{ moto.chlodzenie }}</td>
                        <td *ngIf="editMode">
                            <input type="text" [(ngModel)]="moto.chlodzenie" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Masa</td>
                        <td *ngIf="!editMode">{{ moto.masa }}</td>
                        <td *ngIf="editMode">
                            <input type="number" [(ngModel)]="moto.masa" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Pojemność zbiornika paliwa</td>
                        <td *ngIf="!editMode">{{ moto.pojemnoscZbiornikaPaliwa }}</td>
                        <td *ngIf="editMode">
                            <input type="number" [(ngModel)]="moto.pojemnoscZbiornikaPaliwa" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Prędkość maksymalna</td>
                        <td *ngIf="!editMode">{{ moto.predkoscMaksymalna }}</td>
                        <td *ngIf="editMode">
                            <input type="number" [(ngModel)]="moto.predkoscMaksymalna" class="form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Adres obrazka</td>
                        <td *ngIf="!editMode">{{ moto.imageUrl }}</td>
                        <td *ngIf="editMode">
                            <input type="text" [(ngModel)]="moto.imageUrl" class="form-control" />
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row" style="padding-top: 20px;" *ngIf="moto">     
                <div class="col-sm-6">
                    <a class="btn btn-default" (click)="back()" style="width:130px;">
                        <i class="glyphicon glyphicon-chevron-left"></i> Back
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-default pull-right" (click)="toggleEditMode()" style="width:130px;">
                        <span class="glyphicon glyphicon-pencil" *ngIf="!editMode"></span> {{ editMode ? 'Save changes' : 'Edit' }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>