<div class="container-fluid">
    <div class="row motoList">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="table-responsive">
                <table class="table" *ngIf="motoList && motoList.length">
                    <thead>
                        <tr>
                            <th>Marka</th>
                            <th>Model</th>  
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="motoRow" *ngFor="let moto of motoList">
                            <td (click)="goToDetails(moto.id)">{{ moto.marka }}</td>
                            <td (click)="goToDetails(moto.id)">{{ moto.model }}</td>
                            <td class="col-sm-1">
                                <button class="btn-group-xs" type="submit"><span class="glyphicon glyphicon-trash" (click)="delete(moto.id)"></span></button>                            
                            </td>                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>